<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %logger %X{akkaSource} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="TEST" class="akka.event.slf4j.Slf4jLoggerSpec$TestAppender">
    <encoder>
      <pattern>%date{ISO8601} level=[%level] marker=[%marker] logger=[%logger] mdc=[%mdc] - msg=[%msg]%n----%n</pattern>
    </encoder>
  </appender>
  <logger name="akka.event.slf4j.Slf4jLoggingFilterSpec$DebugLevelProducer"
    level="debug" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="akka.event.slf4j.Slf4jLoggingFilterSpec$WarningLevelProducer"
    level="warn" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="akka.event.slf4j.Slf4jLoggerSpec" level="info"
    additivity="false">
    <appender-ref ref="TEST" />
  </logger>
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
