*~
*#
src_managed
activemq-data
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
lib_managed
etags
TAGS
reports
dist
build
target
deploy/*.jar
data
out
logs
.codefellow
storage
.codefellow
_dump
.manager
manifest.mf
semantic.cache
tm*.log
tm*.lck
tm.out
*.tm.epoch
.DS_Store
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.idea
.scala_dependencies
multiverse.log