*.vim
*~
*#
src_managed
activemq-data
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
lib_managed
etags
tags
.tags
.tags_sorted_by_file
TAGS
akka.tmproj
reports
target
deploy/*.jar
.history
data
out
logs
.#*
.codefellow
storage
.ensime*
_dump
.manager
manifest.mf
semantic.cache
tm*.log
tm*.lck
tm.out
*.tm.epoch
.DS_Store
*.iws
*.ipr
*.iml
run-codefellow
.project
.settings
.classpath
.cache
.idea
.scala_dependencies
.cache
multiverse.log
.eprj
.*.swp
akka-docs/_build/
akka-docs/rst_preprocessed/
*.pyc
akka-docs/exts/
_akka_cluster/
Makefile
akka.sublime-project
akka.sublime-workspace
.target
.multi-jvm
_mb
schoir.props
worker*.log
mongoDB/
redis/
beanstalk/
.scalastyle
bin/
