version: ~> 1.0

language: scala

sudo: false

scala:
  - "2.12.11"
  - "2.13.3"

before_install: curl -Ls https://git.io/jabba | bash && . ~/.jabba/jabba.sh
install: jabba install "adopt@~1.$TRAVIS_JDK.0-0" && jabba use "$_" && java -Xmx32m -version

addons:
  apt:
    packages:
    - graphviz

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt  -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.jabba/jdk

# script for the default 'test' stage:
script: sbt -jvm-opts .jvmopts-travis -Dakka.build.scalaVersion=$TRAVIS_SCALA_VERSION ";update ;mimaReportBinaryIssues ;test:compile ;validateCompile ;headerCheckAll"

jobs:
  include:
    - stage: whitesource
      name: whitesource
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate

stages:
  - name: whitesource
    if: repo = akka/akka AND ((branch = master AND type != pull_request) OR tag =~ ^v) AND env(TRAVIS_SCALA_VERSION) =~ ^2.12
  - name: test
    if: type == pull_request OR NOT tag =~ ^v

env:
  global:
    - TRAVIS_JDK=8
    # encrypt with: travis encrypt --pro WHITESOURCE_PASSWORD=...
    - secure: "hY52m7mKMUO8Lm4WS2IMIEXyMpHVBC2wt6zGaQg0w3/kTotteQmeUW5PZnbepepUZaOTxrWXMBvnyzLAnGRW6VfmViuTaaT86jsZFqlc1y4hTmG5oB6VWSDHvbXpupUd54l4Ks8IrWNsJ1nQI+rlxYYz8oRAdVSsi59K+KKEFX6Ucff9UK9pgOA6fVftxQsxFPTJaseqb80UVhM37Y582CpH5T31MEpGUPA7URBe486saURRs3OmAeiPgwinY/f2Fr8BwCPrEfaJHv2Ks+yxj7iWFuCKkGbOmd+TJjK3AbFqYmV+uYbSsI9p5wkb0ciW708jbeV7qk5V/OSohxucHF5ivI0yMS8RWscL0TpMRHlZPkvzpPhUCdYBMaiztmaFrYdlkjicNVXnV+4Mk0zAc3sdg3WoV9eRg1JmRxgSGVRJeIKUXy3rWjdVoGjgeG9J4cm7Ge+k3cEgbT11+gY6PhcmMYXwGwXvAtWD4/iGeZOE7JXsSeFdlA+vYIscz4N/mcm27K7BLPpv5+SRJaAp3sAj1hS/ePJWPcbCRdRuxGMfk3X4BxesbR6AL9TinrH6R3L7DkRhH524eE0Ph50Wmc1+oBts3wLvPyNYv6fDN7JyUFnArp2mh+ByAzaf0wX+2FPNoL1C3MC0jtcbbzAhZlQMZ6NbbcGgL1XiRKb0Eks="

# safelist
branches:
  only:
  - master
  - release-2.5
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
