<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tests for Akka Java API module" verbose="1">
  <test name="core">
    <groups>
      <run>
        <include name="functional"/>
        <include name="unit"/>
        <exclude name="broken"/>
      </run>
    </groups>
    <packages>
      <package name="com.scalablesolutions.akka.api.*" />
    </packages>
  </test>
</suite>
