<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">
  <!-- Errors were reported during translation. -->
  <!-- Could not find transformer for org.apache.log4j.SimpleLayout -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%4p] [%d{ISO8601}] [%t] %c{1}: %m%n</pattern>
    </encoder>
  </appender>
  <logger name="akka" level="DEBUG"/>

  <logger name="org.mortbay.log" level="ERROR"/>
  <logger name="org.apache.jasper" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
