/*
 * Copyright (C) 2015-2022 Lightbend Inc. <https://www.lightbend.com>
 */

package akka.japi.tuple

[3..22#/**
 * Used to create tuples with 1 elements in Java.
 */
object Tuple1 {
  def create[[#T1#]]([#t1: T1#]) = new Tuple1([#t1#])
}

/**
 * Java API Tuple container.
 */
@SerialVersionUID(##1L)
final case class Tuple1[[#T1#]]([#t1: T1#]) {
   val toScala: ([#T1#]) = ([#t1#])
}#

]
