/*
 * Copyright (C) 2009-2014 Lightbend Inc. <http://www.lightbend.com>
 */

package akka.http.scaladsl.server.util

private[util] abstract class ConstructFromTupleInstances {
  [#implicit def instance1[[#T1#], R](construct: ([#T1#]) => R): ConstructFromTuple[Tuple1[[#T1#]], R] =
    new ConstructFromTuple[Tuple1[[#T1#]], R] {
      def apply(tup: Tuple1[[#T1#]]): R = construct([#tup._1#])
    }#
  ]
}
