RedirectMatch 301 ^(.*)/scala/(.*) $1/$2?language=scala
RedirectMatch 301 ^(.*)/java/(.*) $1/$2?language=java

RedirectMatch 301 ^(.*)/stream/stages-overview\.html.* $1/stream/operators/index.html
RedirectMatch 301 ^(.*)/project/migration-guide-1\.3\.x-2\.0\.x\.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-2\.0\.x-2\.1\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-2\.1\.x-2\.2\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-2\.2\.x-2\.3\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-2\.2\.x-2\.3\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-2\.3\.x-2\.4\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-eventsourced-2\.3\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-persistence-experimental-2\.3\.x-2\.4\.x.html.* $1/project/migration-guide-old.html
RedirectMatch 301 ^(.*)/project/migration-guide-stream-2\.0-2\.4.html.* $1/project/migration-guide-old.html

RedirectMatch 301 ^(.*)/stream/stages-overview\.html$ $1/stream/operators/index.html
RedirectMatch 301 ^(.*)/agents\.html$ $1/project/migration-guide-2.5.x-2.6.x.html
RedirectMatch 301 ^(.*)/typed-actors\.html$ $1/project/migration-guide-2.5.x-2.6.x.html#typedactor

RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/balance\.html$ $1/stream/operators/Balance.html
RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/broadcast\.html$ $1/stream/operators/Broadcast.html
RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/partition\.html$ $1/stream/operators/Partition.html
RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/unzip\.html$ $1/stream/operators/unzip.html
RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/UnzipWith\.html$ $1/stream/operators/UnzipWith.html

RedirectMatch 301 ^(.*)/stream/operators/Source-or-Flow/apply\.html$ $1/stream/operators/Source/from.html

RedirectMatch 301 ^(.*[^d])/guide/(.*) $1/typed/guide/$2

RedirectMatch 301 ^(.*)/additional/rolling-deploys\.html$ $1/additional/rolling-updates.html

RedirectMatch 301 ^(.*)/additional/index\.html$ $1/project/index.html
RedirectMatch 301 ^(.*)/howto\.html$ https://doc.akka.io/docs/akka/2.5/howto.html
RedirectMatch 301 ^(.*)/common/duration\.html$ https://doc.akka.io/docs/akka/2.5/common/duration.html
RedirectMatch 301 ^(.*)/java8-compat\.html$ https://doc.akka.io/docs/akka/2.5/java8-compat.html

RedirectMatch 301 ^(.*)/common/cluster\.html$ $1/typed/cluster-concepts.html
RedirectMatch 301 ^(.*)/typed/cluster-specification\.html$ $1/typed/cluster-concepts.html
RedirectMatch 301 ^(.*)/additional/observability\.html$ $1/additional/operations.html

RedirectMatch 301 ^(.*)/stream/stream-integrations\.html$ $1/stream/actor-interop.html

RedirectMatch 301 ^(.*)/additional/deploy\.html$ $1/additional/deploying.html
