<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>Akka Servlet</servlet-name>
    <servlet-class>se.scalablesolutions.akka.kernel.jersey.AkkaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Akka Servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
