body { position: relative; color: #0B5567;}
a { color: #15A9CE; }
a:hover { color: #15A9CE; text-decoration: underline; }
.navbar { margin-bottom: 18px; }
.navbar-logo { visibility: visible; float: left; padding-top: 0px; }
.main { position: relative; height: auto; margin-top: -18px; overflow: visible; background: #15A9CE;}
.page-title { position: relative; top: 24px; font-family: 'Source Sans Pro', sans-serif; font-size: 24px; font-weight: 400; color: rgba(255, 255, 255, 1); width: 840px;}
.main-container { background: #ffffff;  min-height: 600px; padding-top: 20px; margin-top: 28px; }
.pdf-link { float: right; height: 40px; margin-bottom: -15px; margin-top: -5px; }
.breadcrumb { height: 18px; }
.breadcrumb li { float: right; }
.breadcrumb li a { color: #447281; }
.breadcrumb li a:hover { color: #15A9CE; text-decoration: none; }
.breadcrumb li:last-child { float: left; font-weight: bold; }
.contents-title { font-weight: bold; font-size: 18px; line-height: 27px; margin-bottom: 6px; color: #0d2428; text-shadow:0 1px 0 #f0fafc; }
div#toc { margin-left: -16px; }
div#toc ul { list-style: none; margin: 0 0 5px 16px; }
div#toc ul li { padding-bottom: 8px; line-height: 105%; font-weight: bold; width: 100%; }
div#toc ul ul { list-style: disc; }
div#toc ul ul ul { list-style: square; }
div#toc ul li ul li { padding-bottom: 0px; line-height: 18px; font-weight: normal; }
div#scroller-anchor { width: inherit; }
div#scroller { width: inherit; }
p { padding-top: 4px; font-size: 14px; }
h1 {color: #15A9CE; }
h2 { padding-top: 14px; padding-bottom: 4px; margin-bottom: 2px; border-bottom: solid 1px rgba(0, 0, 0, 0.15); color: #0B5567; }
h2 a {  color: #0B5567; }
h2 a:hover { color: #447281; }
h2 .pre { font-size: 20px; }
h3 { padding-top: 10px; color: #0B5567; }
h3 a { color: #0B5567; }
h3 a:hover { }
h3 .pre { font-size: 16px; }
h4 { padding-top: 6px; font-size: 16px; }
h4 a { color: #0B5567; }
h4 a:hover { text-shadow:0 2px 0 #0B5567; }
h5 { text-transform: uppercase; font-size: 14px; padding-top: 6px; color: #0B5567;}
strong {color: #0B5567; }
/*.footer-bg { overflow: auto; background:url('{{ site.baseurl }}/resources/images/dark-blue-bg.png') repeat; height: 100%; }*/

.toctree-l1 { font-weight: bold; font-size: 14px; padding-top: 4px;}
.toctree-l1 a { color: #15384e; }
.toctree-l1 a:hover { color: #15A9CE; text-decoration: none; }
.toctree-l2 { font-weight: normal; list-style: square; }
.toctree-l2 a { color: #447281; }
.toctree-l2 a:hover { color: #15A9CE; text-decoration: none; }

.topic-title {
	color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
	margin-bottom: 6px;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
}

.admonition {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #73cbe2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px;
  position: relative;
  padding: 7px 15px;
  color: #ffffff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#73cbe2), to(#15a9ce));
  background-image: -moz-linear-gradient(top, #73cbe2, #15a9ce);
  background-image: -ms-linear-gradient(top, #73cbe2, #15a9ce);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73cbe2), color-stop(100%, #15a9ce));
  background-image: -webkit-linear-gradient(top, #73cbe2, #15a9ce);
  background-image: -o-linear-gradient(top, #73cbe2, #15a9ce);
  background-image: linear-gradient(top, #73cbe2, #15a9ce);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73cbe2', endColorstr='#15a9ce', GradientType=0);
  border-color: #15a9ce #15a9ce #E4C652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.warning {
  background-image: none;
  background-color: #e25758;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #f06565;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px;
  position: relative;
  padding: 7px 15px;
  color: #ffffff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f06565), to(#e25758));
  background-image: -moz-linear-gradient(top, #f06565, #e25758);
  background-image: -ms-linear-gradient(top, #f06565, #e25758);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f06565), color-stop(100%, #e25758));
  background-image: -webkit-linear-gradient(top, #f06565, #e25758);
  background-image: -o-linear-gradient(top, #f06565, #e25758);
  background-image: linear-gradient(top, #f06565, #e25758);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06565', endColorstr='#e25758', GradientType=0);
  border-color: #15a9ce #e25758 #E4C652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.admonition a {
  color: #0B5567;
}
.admonition a:hover {
  text-decoration: underline;
}
.admonition p.admonition-title {
  color: #ffffff;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.admonition strong, .warning strong {
  color: #ffffff;
}

.topic {
  background-image: none;
  background-color: #fdf5d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  padding: 14px;
  border-color: #def1f4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 18px;
  position: relative;
  padding: 7px 15px;
  color: #404040;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#def1f4), to(#c1dfe6));
  background-image: -moz-linear-gradient(top, #def1f4, #c1dfe6);
  background-image: -ms-linear-gradient(top, #def1f4, #c1dfe6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #def1f4), color-stop(100%, #c1dfe6));
  background-image: -webkit-linear-gradient(top, #def1f4, #c1dfe6);
  background-image: -o-linear-gradient(top, #def1f4, #c1dfe6);
  background-image: linear-gradient(top, #def1f4, #c1dfe6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#def1f4', endColorstr='#c1dfe6', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c1dfe6 #c1dfe6 #E4C652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.pre { color: #0B5567; }
.footer h5 { text-transform: none; }

.footnote .label { background-color: transparent }

.section-marker { position: absolute; width: 1em; margin-left: -1em; display: block; text-decoration: none; visibility: hidden; text-align: center; font-weight: normal; }
.section-marker:hover { text-decoration: none; }
.section h2:hover > a,.section h3:hover > a,.section h4:hover > a,.section h5:hover > a { visibility: visible; }

div.align-center { width: 100%; text-align: center; }
p.caption { width: 80%; text-align: justify; font-size: 0.95em; font-style: italic; position: relative; left: 10%; }



/* floaty warning about old version of docs */
#floaty-warning {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  z-index: 99999;
  width: 100%;
  background-color: rgb(84, 180, 204);
  text-align: center;
  padding: 10px;
  color: #FFF;
}

/*
 * Used when browsing 2.3.12 yet 2.4.x is out already.
 * This is more critical than browsing 2.3.10 and 2.3.11 is latest (the default color).
 */
#floaty-warning .warning {
  background-color: rgb(227, 88, 89);
}

#floaty-warning a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#close-floaty-window {
  position: absolute;
  top: 1em;
  right: 2em;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

/* fancy searchbox */
#q {
  background: url('search.jpg') 5px center no-repeat #FFF;
  border: 1px solid #AAA;
  float: right;
  font-size: 11px;
  margin: -4px 32px 0 12px;
  opacity: 0.6;
  outline: none;
  padding: 3px 5px 3px 20px;
  width: 180px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
