name: Binary Compatibility

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v2.6.*
      - v2.7.*

permissions:
  contents: read

jobs:
  check-binary-compatibility:
    name: Check / Binary Compatibility
    runs-on: ubuntu-22.04
    if: github.repository == 'akka/akka'
    strategy:
      fail-fast: false
      matrix:
        # The versions of scala specified here are only used as `+~...`
        # which ignores the PATCH portion of the version id. These Scala versions don't need
        # to be fully defined here then since Akka build handles which patch version will be used.
        scalaVersion: [ "2.12", "2.13" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: adopt:1.11

      - name: Report MiMa Binary Issues
        run: |-
          mv .jvmopts-ci .jvmopts
          sbt "+~ ${{ matrix.scalaVersion }} mimaReportBinaryIssues"

      - name: Check correct MiMa filter directories
        run: |
          sbt checkMimaFilterDirectories

      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@6063705cefe50cb915fc53bb06d4049cae2953b2
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: akka.official@gmail.com
          from: Akka CI (GHActions)
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
