name: Binary Compatibility

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v2.6.*
      - v2.7.*

env:
  CLOUDSMITH_MACHINE_AKKA_CREDS: ${{ secrets.CLOUDSMITH_MACHINE_AKKA_CREDS }}

permissions:
  contents: read

jobs:
  check-binary-compatibility:
    name: Check / Binary Compatibility
    runs-on: ubuntu-22.04
    if: github.repository == 'akka/akka'
    strategy:
      fail-fast: false
      matrix:
        # The versions of scala specified here are only used as `+~...`
        # which ignores the PATCH portion of the version id. These Scala versions don't need
        # to be fully defined here then since Akka build handles which patch version will be used.
        scalaVersion: [ "2.13", "3.3" ]
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.5
        uses: coursier/cache-action@1ff273bff02a8787bc9f1877d347948af647956d

      - name: Set up JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.5
        uses: coursier/setup-action@7bde40eee928896f074dbb76d22dd772eed5c65f
        with:
          jvm: temurin:1.11

      - name: Set  up Akka resolver
        run: |-
          mkdir ~/.sbt
          printf "%s" "$CLOUDSMITH_MACHINE_AKKA_CREDS" > ~/.sbt/.credentials

      - name: Test/compile
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt "+~ ${{ matrix.scalaVersion }} Test/compile"

      - name: Report MiMa Binary Issues
        run: |-
          sbt "+~ ${{ matrix.scalaVersion }} mimaReportBinaryIssues"

      - name: Check correct MiMa filter directories
        run: |
          sbt checkMimaFilterDirectories

      - name: Email on failure
        if: ${{ github.event_name == 'push' && failure() }}
        uses: dawidd6/action-send-mail@6063705cefe50cb915fc53bb06d4049cae2953b2
        with:
          server_address: smtp.gmail.com
          server_port: 465
          # Using port 465 already sets `secure: true`
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: ${{secrets.MAIL_SEND_TO}}
          from: Akka CI
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
