name: Pull Requests

on:
  pull_request:

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check-code-style:
    name: Check / Code Style
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: sbt

      - name: Code style check
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt \
          -Dsbt.override.build.repos=false \
          -Dsbt.log.noformat=false \
          verifyCodeStyle

  pull-request-validation:
    name: Check / Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: sbt

      - name: sbt validatePullRequest
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt \
          -Dakka.mima.enabled=false \
          -Dakka.test.multi-in-test=false \
          -Dakka.test.timefactor=2 \
          -Dakka.actor.testkit.typed.timefactor=2 \
          -Dakka.test.tags.exclude=gh-exclude,timing \
          -Dakka.cluster.assert=on \
          -Dsbt.override.build.repos=false \
          -Dakka.test.multi-node=false \
          -Dsbt.log.noformat=false \
          -Dakka.log.timestamps=true \
          validateCompile validatePullRequest
