name: Pull Requests

on:
  pull_request:

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check-code-style:
    name: Check / Code Style
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11

      - name: Code style check
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt \
          -Dsbt.override.build.repos=false \
          -Dsbt.log.noformat=false \
          verifyCodeStyle

  pull-request-validation:
    name: Check / Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11

      - name: sbt validatePullRequest
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt \
          -Dakka.mima.enabled=false \
          -Dakka.test.multi-in-test=false \
          -Dakka.test.timefactor=2 \
          -Dakka.actor.testkit.typed.timefactor=2 \
          -Dakka.test.tags.exclude=gh-exclude,timing \
          -Dakka.cluster.assert=on \
          -Dsbt.override.build.repos=false \
          -Dakka.test.multi-node=false \
          -Dsbt.log.noformat=false \
          -Dakka.log.timestamps=true \
          validateCompile validatePullRequest

  compile:
    name: Compile
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        scalaVersion: [2.12, 2.13, 3.1]
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11.0

      - name: sbt Test/compile
        run: |-
          cp .jvmopts-ci .jvmopts
          sbt \
          -Dsbt.override.build.repos=false \
          -Dsbt.log.noformat=false \
          ++${{ matrix.scalaVersion }}.* Test/compile
