name: Nightly Akka Cluster Metrics Test with Sigar

on:
  push:
  #schedule:
  #  - cron: '0 0 * * *'

jobs:
  sbt:
    name: Test Akka Cluster Metrics
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
      - name: Set up JDK 8
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.8.0
      - name: Test
        run: |-
          sbt -jvm-opts .jvmopts-ci \
            -Djava.security.egd=file:/dev/./urandom \
            -Dakka.test.sigar=true \
            -Dakka.cluster.assert=on \  
            clean \
            akka-cluster-metrics/test
      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          # Using port 465 already sets `secure: true`
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: PRValidation Failed (Akka)
          to: akka.official@gmail.com
          from: Akka CI (GHActions)
          body: |
            Nightly Akka Cluster Metrics Test with Sigar of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
