name: Publish docs

on:
  push:
    branches:
      - main
      # for testing the GH Action without merging to main,
      # in some cases
      - test-publish-snapshots
      - docs/v*
    tags: ["*"]

permissions:
  contents: read

jobs:
  documentation:
    name: Documentation
    runs-on: ubuntu-20.04
    if: github.repository == 'akka/akka'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0
      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Publish
        run: |-
          eval "$(ssh-agent -s)"
          echo $AKKA_RSYNC_GUSTAV | base64 -d > .github/id_rsa
          chmod 600 .github/id_rsa
          ssh-add .github/id_rsa
          # using Scala 2.13 here to avoid the infamous problem with missing AskSupport in classpath
          sbt -Dakka.genjavadoc.enabled=true "+~ 2.13 publishRsync"
        env:
          AKKA_RSYNC_GUSTAV: ${{ secrets.AKKA_RSYNC_GUSTAV }}

      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: akka.official@gmail.com
          from: Akka CI (GHActions)
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
