name: Build and test Akka with Scala 3

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:


concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-scala3-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    if: github.repository == 'akka/akka'
    strategy:
      matrix:
        command:
          - akka-testkit/test akka-actor-tests/test
          - akka-actor-testkit-typed/test akka-actor-typed-tests/test
          - akka-bench-jmh/test
          - akka-cluster/test akka-cluster-tools/test akka-cluster-typed/test akka-distributed-data/test akka-cluster-metrics/test akka-cluster-sharding/test akka-cluster-sharding-typed/test
          - akka-discovery/test akka-coordination/test
          - akka-persistence/test akka-persistence-shared/test akka-persistence-query/test akka-persistence-typed/test akka-persistence-testkit/test akka-persistence-tck/test akka-persistence-typed-tests/test
          - akka-pki/test akka-slf4j/test
          - akka-serialization-jackson/test
          - akka-stream/test akka-stream-testkit/test akka-stream-tests/test akka-stream-typed/test
          - akka-stream-tests-tck/test
          - akka-remote/test akka-remote-tests/test akka-protobuf/test akka-protobuf-v3/test
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: adopt:1.11

      - name: Compile and run tests on Scala 3
        # note that this is not running any multi-jvm tests (yet) because multi-in-test=false
        run: |
          sbt -jvm-opts .jvmopts-ci \
          -Dakka.log.timestamps=true \
          -Dakka.test.timefactor=2 \
          -Dakka.actor.testkit.typed.timefactor=2 \
          -Dakka.test.multi-in-test=false \
          -Dakka.test.tags.exclude=gh-exclude,timing \
          -Dmultinode.XX:MetaspaceSize=128M \
          -Dmultinode.Xms256M \
          -Dmultinode.Xmx256M \
          -Dmultinode.XX:+AlwaysActAsServerClassMachine \
          "+~ 3 ${{ matrix.command }}"

      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: akka.official@gmail.com
          from: Akka CI (GHActions)
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
