name: Timing sensitive tests

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:

  akka-timing-sensitive-tests:
    name: Akka Tests taggedAs TimingTest
    runs-on: ubuntu-20.04
    if: github.repository == 'akka/akka'
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.11

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.2

      - name: sbt test
        run: |-
          sbt -jvm-opts .jvmopts-ci \
            -Djava.security.egd=file:/dev/./urandom \
            -Dakka.cluster.assert=on \
            -Dakka.test.timefactor=2 \
            -Dakka.actor.testkit.typed.timefactor=2 \
            -Dakka.test.tags.only=timing \
            -Dakka.log.timestamps=true \
            -Dakka.test.multi-in-test=false \
            -Dmultinode.XX:MetaspaceSize=128M \
            -Dmultinode.Xms256M \
            -Dmultinode.Xmx256M \
            -Dmultinode.XX:+AlwaysActAsServerClassMachine \
            clean test

      - name: Test Reports
        # Makes it easier to spot failures instead of looking at the logs.
        if: ${{ failure() }}
        uses: marcospereira/action-surefire-report@v1
        with:
          report_paths: '**/target/test-reports/TEST-*.xml'
          fail_if_no_tests: false
          skip_publishing: true

      - name: Email on failure
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: "Failed: ${{ github.workflow }} / ${{ github.job }}"
          to: akka.official@gmail.com
          from: Akka CI (GHActions)
          body: |
            Job ${{ github.job }} in workflow ${{ github.workflow }} of ${{github.repository}} failed!
            https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
